@media (min-width:300px) and (max-width:800px){
    /* .App{
        background-image: url('./images/log.jpeg');
        background-size: 100% 100%;
    } */
    
    .App .kid{
        display: none;
    }
    .right{
      
      
    }
    .right .inside{
        width: 95vw;
        height: 80vh;
        
    }
    form{
        padding-left: 10px;
    }
    form h2{
        font-size: 1.3rem;
    }
    .right .input{
        width: 80vw;
        height: 3.2vh;
        font-size: 1rem;
    }
    .right #eye{
        font-size: 1rem;
        position: relative;
        right: 30px;
        top: 1px;
    }
    .right .down{
        font-size: 1.2rem;
    }
    .right button{
        width: 40vw;
        height: 4vh;
    }
    
}
@media (min-width:500px) and (max-width:800px){
    .right .input{
       
        height: 5vh;
        font-size: 1.2rem;
    }
    }